NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:5001
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_add_your_stripe_publishable_key
NEXT_PUBLIC_IMGBB_API_KEY=add_your_imgbb_api_key
